{% extends "Base/base.html" %} {% load static %} {% block content %}
<div
  id="carouselExampleAutoplaying"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div>
      <div class="carousel-item active">
        <img
          src="{% static 'images/amphitheatre-v2.jpg' %}"
          class="d-block w-100"
          alt="My11 Image"
        />
        <div class="bottom-center"><h3>Amphitheatre</h3></div>
      </div>
      <div class="carousel-item">
        <img
          src="{% static 'images/banner-3.jpg' %}"
          class="d-block w-100"
          alt="My Image"
        />
        <div class="bottom-center"><h3>Aerial View of AIUB Campus</h3></div>
      </div>
      <div class="carousel-item">
        <img
          src="{% static 'images/banner-6.jpg' %}"
          class="d-block w-100"
          alt="My Image"
        />
        <div class="bottom-center"><h3>Center Garden</h3></div>
      </div>
      <div class="carousel-item">
        <img
          src="{% static 'images/banner-8.jpg' %}"
          class="d-block w-100"
          alt="My Image"
        />
        <div class="bottom-center">
          <h3>Playground, Gallery & Building - D</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="{% static 'images/bsc-in-data-science-2024.jpg' %}"
          class="d-block w-100"
          alt="My Image"
        />
        <div class="bottom-center"><h3>BSc in Data Science</h3></div>
      </div>
      <div class="carousel-item">
        <img
          src="{% static 'images/c_building_night_view.jpg' %}"
          class="d-block w-100"
          alt="My Image"
        />
        <div class="bottom-center">
          <h3>Night View Of C Building Front Side</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="{% static 'images/cyber.jpg' %}"
          class="d-block w-100"
          alt="My Image"
        />
        <div class="bottom-center">
          <h3>BSC in Computer Network And Cyber Security</h3>
        </div>
      </div>
      <div class="top-left">
        <a href="">
          <img
            src="{% static 'images/aiubstorylogo.png' %}"
            alt="Logo"
            class="logo"
          />
        </a>
      </div>
      <div class="top-right">
        <a href="#"><h1>AIUB</h1></a>
        <button>Contact Us</button>
        <button>Apply</button><br /><br />
        <button>Erasmus SOHO Project</button><br /><br />
        <button>MCU 2020 Project</button>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container">
  <div class="notices">
    <h2>Notices</h2>
    <div class="notice-item">
      <div class="date red">
        <span class="day"> 09 </span>
        <span class="month"> Oct </span>
      </div>
      <div class="content">
        <a href="#">
          Admission Test Written Exam of Fall 2024-25, Slot-3 on October 14,
          2024 (Monday)
        </a>
      </div>
    </div>
    <div class="notice-item">
      <div class="date">
        <span class="day"> 12 </span>
        <span class="month"> Oct </span>
      </div>
      <div class="content">
        <a href="#">
          Probation students Final registration Instructions Fall 2024-2025
        </a>
      </div>
    </div>
    <div class="notice-item">
      <div class="date red">
        <span class="day"> 09 </span>
        <span class="month"> Oct </span>
      </div>
      <div class="content">
        <a href="#"> Revised Registration Flowchart of Fall 24-25 </a>
      </div>
    </div>
    <div class="notice-item">
      <div class="date">
        <span class="day"> 10 </span>
        <span class="month"> Oct </span>
      </div>
      <div class="content">
        <a href="#">
          FST Final Registration Instructions and Guidelines - Fall 2024-2025
        </a>
      </div>
    </div>
    <div class="notice-item">
      <div class="date">
        <span class="day"> 10 </span>
        <span class="month"> Oct </span>
      </div>
      <div class="content">
        <a href="#">
          Internship (BBA/MBA) Course Registration Notice for Fall 2024-2025
        </a>
      </div>
    </div>
    <div class="notice-item">
      <div class="date">
        <span class="day"> 12 </span>
        <span class="month"> Oct </span>
      </div>
      <div class="content">
        <a href="#">
          FALL 2024-25 FINAL REGISTRATION STEPS FOR THE STUDENTS OF DEPARTMENT
          OF EEE, CoE &amp; IPE
        </a>
      </div>
    </div>
    <div class="notice-item">
      <div class="date">
        <span class="day"> 09 </span>
        <span class="month"> Oct </span>
      </div>
      <div class="content">
        <a href="#"> Holiday Memo: Durga Puja -2024 </a>
      </div>
    </div>
    <div class="notice-item">
      <div class="date">
        <span class="day"> 04 </span>
        <span class="month"> Sep </span>
      </div>
      <div class="content">
        <a href="#">
          IMPORTANT DATES FOR FBA INTERNSHIP STUDENTS SUMMER 2023-2024
        </a>
      </div>
    </div>
    <div class="archive">
      <a href="#"> Archive </a>
    </div>
  </div>
  <div class="social-media">
    <h2>AIUB In Social Media</h2>
    <div class="video">
      <iframe
        allowfullscreen=""
        frameborder="0"
        height="200"
        src="https://www.youtube.com/watch?v=WE7eh97w9Nk"
        width="100%"
      >
      </iframe>
    </div>
    <div class="icons">
      <a href="#">
        <i class="fab fa-facebook"> </i>
      </a>
      <a href="#">
        <i class="fab fa-linkedin"> </i>
      </a>
      <a href="#">
        <i class="fab fa-twitter"> </i>
      </a>
      <a href="#">
        <i class="fab fa-youtube"> </i>
      </a>
    </div>
    <div class="course">
      <img
        alt="Online Course: Ethical Hacking and Penetration Testing"
        height="200"
        src="https://storage.googleapis.com/a1aa/image/FGeArZGfqakHNURKkxvEvRp8g9yz8SMFjgEe7dIuLyTghyMnA.jpg"
        width="300"
      />
    </div>
  </div>
</div>
<hr />

<div class="container">
  <div class="header">News &amp; Events</div>
 
  <div class="news-grid">
    <div class="news-item">
      <img
        alt="Commendation at CAA Awards 2024 for Architecture Student"
        height="150"
        src="https://storage.googleapis.com/a1aa/image/seHs1icJINx8TaZBfgfLc4aD4TOxVxzm07wE59xfKrJMwlZOB.jpg"
        width="300"
      />
      <div class="news-content">
        <div class="news-date">9th Oct</div>
        <div class="news-title">
          Commendation at CAA Awards 2024 for Architecture Student
        </div>
      </div>
    </div>
    <div class="news-item">
      <img
        alt="NASA Space Apps Challenge Bangladesh 2024 Successfully Held at ..."
        height="150"
        src="https://storage.googleapis.com/a1aa/image/Pe2aehqdAyqFX0UcR8Xn3fsFv4Kt1vfd6iregbb59pqohLzcC.jpg"
        width="300"
      />
      <div class="news-content">
        <div class="news-date">6th Oct</div>
        <div class="news-title">
          NASA Space Apps Challenge Bangladesh 2024 Successfully Held at ...
        </div>
      </div>
    </div>
    <div class="news-item">
      <img
        alt="Tourism &amp; Hospitality Management Department Attended the ..."
        height="150"
        src="https://storage.googleapis.com/a1aa/image/nekE6xgXduWrJqJxkG3TcHjex2UgTJuxJl3nEidUSdpGcZmTA.jpg"
        width="300"
      />
      <div class="news-content">
        <div class="news-date">1st Oct</div>
        <div class="news-title">
          Tourism &amp; Hospitality Management Department Attended the ...
        </div>
      </div>
    </div>
    <div class="news-item">
      <img
        alt="Head of Law Department participated in the Study of U institute ..."
        height="150"
        src="https://storage.googleapis.com/a1aa/image/b1D44lZxe21ZAaCINRPDtNzvAlaQ1DeLLQiRQdSELD9OcZmTA.jpg"
        width="300"
      />
      <div class="news-content">
        <div class="news-date">29th Sep</div>
        <div class="news-title">
          Head of Law Department participated in the Study of U institute ...
        </div>
      </div>
    </div>
    <div class="news-item">
      <img
        alt="Chairman, BoT met the lead researchers of AIUB"
        height="150"
        src="https://storage.googleapis.com/a1aa/image/8nTE5pZ1yn6oPNfhg6Kfgmw2n4Q7CkK2w50gfjvhYZbm4yMnA.jpg"
        width="300"
      />
      <div class="news-content">
        <div class="news-date">27th Sep</div>
        <div class="news-title">
          Chairman, BoT met the lead researchers of AIUB
        </div>
      </div>
    </div>
    <div class="news-item">
      <img
        alt="Seminar on 'The Rise of Tourism and Travel Systems: A Bangladesh ..."
        height="150"
        src="https://storage.googleapis.com/a1aa/image/OaLIZuKsvMY3Ot0Rw5IBglR8OeuPFeHu7yrlcxz6ifyt4yMnA.jpg"
        width="300"
      />
      <div class="news-content">
        <div class="news-date">26th Sep</div>
        <div class="news-title">
          Seminar on 'The Rise of Tourism and Travel Systems: A Bangladesh ...
        </div>
      </div>
    </div>
    <div class="news-item">
      <img
        alt="Seminar on Female Students Career-Building Opportunities in ..."
        height="150"
        src="https://storage.googleapis.com/a1aa/image/MWaxDjduMCYTMxUygwlcXVnUHZEfnzHdfpmWMTfnaM6P4yMnA.jpg"
        width="300"
      />
      <div class="news-content">
        <div class="news-date">26th Sep</div>
        <div class="news-title">
          Seminar on Female Students Career-Building Opportunities in ...
        </div>
      </div>
    </div>
    <div class="news-item">
      <img
        alt="Advisor of Law Represents AIUB at the 2024 Global Law Deans' Forum"
        height="150"
        src="https://storage.googleapis.com/a1aa/image/icbXUyNopF4NGBqWjr7pVGksH06YN6wopIee5x3stk1RcZmTA.jpg"
        width="300"
      />
      <div class="news-content">
        <div class="news-date">26th Sep</div>
        <div class="news-title">
          Advisor of Law Represents AIUB at the 2024 Global Law Deans' Forum
        </div>
      </div>
    </div>
    <div class="news-item">
      <img
        alt="Success Stories of Architecture Alumni"
        height="150"
        src="https://storage.googleapis.com/a1aa/image/UW7cPefZc7vTBkemxiyiLfw4UD9GWfQO5fTgwELl6foMCuMzJA.jpg"
        width="300"
      />
      <div class="news-content">
        <div class="news-date">25th Sep</div>
        <div class="news-title">Success Stories of Architecture Alumni</div>
      </div>
    </div>
    <div class="news-item">
      <img
        alt="Tourism &amp; Hospitality Management Department Organizes Study ..."
        height="150"
        src="https://storage.googleapis.com/a1aa/image/Jt02cdljxXajE5KmJXVhAd4hw7mG9I6ak9HiRJHBLe7EuMzJA.jpg"
        width="300"
      />
      <div class="news-content">
        <div class="news-date">24th Sep</div>
        <div class="news-title">
          Tourism &amp; Hospitality Management Department Organizes Study ...
        </div>
      </div>
    </div>
    <div class="news-item">
      <img
        alt="AIUB Champions League (ACL) 2024: BBA Team Atletico de Madrid ..."
        height="150"
        src="https://storage.googleapis.com/a1aa/image/Qw97emWBj4V3MaispcHb0FxTff5HQWuPyIelCPfF7TsXhLzcC.jpg"
        width="300"
      />
      <div class="news-content">
        <div class="news-date">24th Sep</div>
        <div class="news-title">
          AIUB Champions League (ACL) 2024: BBA Team Atletico de Madrid ...
        </div>
      </div>
    </div>
    <div class="news-item">
      <img
        alt="AIUB Faculty Honored in Stanford University and Elsevier's Top ..."
        height="150"
        src="https://storage.googleapis.com/a1aa/image/tJeCbYmQDfmGlUem3mOh7RlmghrhCgCzw0CCPHf5CXWUxlZOB.jpg"
        width="300"
      />
      <div class="news-content">
        <div class="news-date">23rd Sep</div>
        <div class="news-title">
          AIUB Faculty Honored in Stanford University and Elsevier's Top ...
        </div>
      </div>
    </div>
    <div class="news-item">
      <img
        alt="Celebrating Excellence: AIUB Faculty Members Recognized Among ..."
        height="150"
        src="https://storage.googleapis.com/a1aa/image/pJhvkUvkASr3AxWt88Xh87Fe1hbgQytovf3U0XlEOw4BcZmTA.jpg"
        width="300"
      />
      <div class="news-content">
        <div class="news-date">23rd Sep</div>
        <div class="news-title">
          Celebrating Excellence: AIUB Faculty Members Recognized Among ...
        </div>
      </div>
    </div>
    <div class="news-item">
      <img
        alt="Mr Ishtiaque Abedin Meets Newly Appointed UGC Chairman Prof Dr ..."
        height="150"
        src="https://storage.googleapis.com/a1aa/image/twSMGlC0NK7jHhGzxRgelWYDHVMvhwJnhRFxseRfvebBwlZOB.jpg"
        width="300"
      />
      <div class="news-content">
        <div class="news-date">20th Sep</div>
        <div class="news-title">
          Mr Ishtiaque Abedin Meets Newly Appointed UGC Chairman Prof Dr ...
        </div>
      </div>
    </div>
    <div class="news-item">
      <img
        alt="Students of AIUB: Standing with the Flood-Effected"
        height="150"
        src="https://storage.googleapis.com/a1aa/image/h3Cq5g7VOYKNK9VWe9jhCvDSqe4zTY2PniXe3ir9mbPg4yMnA.jpg"
        width="300"
      />
      <div class="news-content">
        <div class="news-date">19th Sep</div>
        <div class="news-title">
          Students of AIUB: Standing with the Flood-Effected
        </div>
      </div>
    </div>
    <div class="news-item">
      <img
        alt="MOU with Danang University"
        height="150"
        src="https://storage.googleapis.com/a1aa/image/vShule6dXLTdEK0d3CiLaO5YNqzue68mntalW60Idq4McZmTA.jpg"
        width="300"
      />
      <div class="news-content">
        <div class="news-date">15th Sep</div>
        <div class="news-title">MOU with Danang University</div>
      </div>
    </div>
  </div>
</div>

<div class="facts-figures">
  <h2>Facts and Figures</h2>
  <div class="figures">
    <div class="figure">
      <h3>4</h3>
      <p>Faculties</p>
    </div>
    <div class="figure">
      <h3>19</h3>
      <p>Academic Programs</p>
    </div>
    <div class="figure">
      <h3>36,911</h3>
      <p>Total Graduates</p>
    </div>
    <div class="figure">
      <h3>21</h3>
      <p>Convocations</p>
    </div>
  </div>
</div>


{% endblock %}
