{% load static %}
<link href="{% static 'footer/footer.css' %}" rel="stylesheet" type="text/css"/>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src=" {% static 'images/logo.jpeg' %} " />
      <address>
        <strong>American International University-Bangladesh (AIUB)</strong
        ><br />
        408/1 (Old KA 66/1), Kuratoli, Khilkhet,<br />
        Dhaka 1229, Bangladesh<br />
        <a href="mailto:info@aiub.edu">info@aiub.edu</a>
      </address>
    </div>
    <div class="footer-links">
      <div>
        <h3>Become AIUBian</h3>
        <ul>
          <li><a href="#">Future Students</a></li>
          <li><a href="#">On Campus</a></li>
          <li><a href="#">Admission</a></li>
          <li><a href="#">Tuition Fees</a></li>
          <li><a href="#">Scholarships</a></li>
          <li><a href="#">Apply Now</a></li>
        </ul>
      </div>
      <div>
        <h3>Academics</h3>
        <ul>
          <li><a href="#">Academic Calendar</a></li>
          <li><a href="#">Academic Regulations</a></li>
          <li><a href="#">Faculty of Arts & Social Sciences</a></li>
          <li><a href="#">Faculty of Business Administration</a></li>
          <li><a href="#">Faculty of Engineering</a></li>
          <li><a href="#">Faculty of Science & Technology</a></li>
        </ul>
      </div>
      <div>
        <h3>Research</h3>
        <ul>
          <li><a href="#">AJBE</a></li>
          <li><a href="#">AJSE</a></li>
          <li><a href="#">Past Conferences</a></li>
          <li><a href="#">Upcoming Conferences</a></li>
          <li><a href="#">Collaborating Institutes</a></li>
          <li><a href="#">Innovations</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>
      &copy; 2000-2019
      <strong>American International University-Bangladesh</strong> under
      registration 9888-COPR
    </p>
    <p>Powered by AIUB Software Development Department</p>
    <div class="footer-social">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</footer>
